---
import { Font } from 'astro:assets';

const { title, description, image, favicon } = Astro.props;
const author = 'Al Firous';
const pageTitle = `${title} — ${author}`;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon || '/favicon.svg'} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="black" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
    <meta name="description" content={description} /> 
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image || '/default-image.jpg'} />

    <link rel="canonical" href={Astro.url} />

    <link href="https://instagram.com/AlFirous" rel="me">
    <link href="https://linkedin.com/in/AlFirous" rel="me">
    <link href="https://twitter.com/AlFirous" rel="me">
    <link href="https://facebook.com/AlFirous" rel="me">
    <link href="https://mastodon.social/@AlFirous" rel="me">
    <link href="https://pinterest.com/AlFirous" rel="me">
    <link href="https://cosmos.so/AlFirous" rel="me">
    <link href="https://letterboxd.com/AlFirous" rel="me">
    <link href="https://youtube.com/@AlFirous" rel="me">
    <link href="https://behance.net/AlFirous" rel="me">
    <link href="https://dribbble.com/AlFirous" rel="me">

    <slot />
    <slot name="in-head"/>

</head>
