---
import { Font } from 'astro:assets';

const { title, description, image, favicon } = Astro.props;
const author = 'Al Firous';
const pageTitle = `${title} — ${author}`;
---

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="black" />
    <link rel="icon" type="image/svg+xml" href={favicon || '/favicon.svg'} />
    <link rel="canonical" href={Astro.url} />

    <title>{pageTitle}</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image || '/default-image.jpg'} />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Al Firous">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="https://instagram.com/AlFirous" rel="me">
    <link href="https://linkedin.com/in/AlFirous" rel="me">
    <link href="https://twitter.com/AlFirous" rel="me">
    <link href="https://x.com/AlFirous" rel="me">
    <link href="https://facebook.com/AlFirous" rel="me">
    <link href="https://mastodon.social/@AlFirous" rel="me">
    <link href="https://pinterest.com/AlFirous" rel="me">
    <link href="https://cosmos.so/AlFirous" rel="me">
    <link href="https://letterboxd.com/AlFirous" rel="me">
    <link href="https://youtube.com/@AlFirous" rel="me">
    <link href="https://behance.net/AlFirous" rel="me">
    <link href="https://dribbble.com/AlFirous" rel="me">

    <slot />
    <slot name="in-head"/>

    <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="63c7629b-7936-4e5c-bfd3-cd62e5ea5431"></script>
    <script is:inline defer src="https://app.rybbit.io/api/script.js" data-site-id="f0588282719c"></script>
</head>
