---
import { getCollection, render } from "astro:content";
import GardenLayout from "../../layouts/GardenLayout.astro";
import { Calendars } from "@lucide/astro";

export async function getStaticPaths() {
  const gardenPosts = await getCollection("garden");
  return gardenPosts.map((post) => ({
    params: { slug: post.id.replace(/\.mdx?$/, "").toLowerCase() },
    props: post,
  }));
}

const post = Astro.props;

const { Content, headings } = await render(post);
---

<GardenLayout title={post.data.title} description={post.data.description} tags={post.data.tags} image={post.data.image}>
  <h1>{post.data.title}</h1>
  <small>{post.data.type} <em>of</em> {post.data.tags}</small>
  <img src={post.data.image} />
  <!--
    {headings.length > 0 &&
        <nav class="toc" aria-label="Table of Contents">
            <h2>On this page</h2>
            <ul>
                {headings.map(heading => (
                    <li class={`depth-${heading.depth}`}>
                        <a href={`#${heading.slug}`}>{heading.text}</a>
                    </li>
                ))}
            </ul>
        </nav>
    }
    -->
  <Content />
  <hr />
  <post-footer>
    <post-epilogue>
      <p>If you have feedback, question, or want to say hi. Just <a href="/" title={post.data.title}>reply via Email</a>.</p>
    </post-epilogue>
    <post-meta>
      {
        post.data.created && (
          <time datetime={new Date(post.data.created).toISOString()} title="Published">
            {new Date(post.data.created).toLocaleDateString("en-us", { year: "numeric", month: "long" })}
          </time>
        )
      }
      {
        post.data.created && post.data.modified && new Date(post.data.modified).getTime() !== new Date(post.data.created).getTime() && (
          <>
            <Calendars />
            <time datetime={new Date(post.data.modified).toISOString()} title="Updated">
              {new Date(post.data.modified).toLocaleDateString("en-us", { year: "numeric", month: "long" })}
            </time>
          </>
        )
      }
    </post-meta>
  </post-footer>
</GardenLayout>
